@media (min-width: 768px) {
    .calendar{
        display: flex;
    }
    #external-events {
        position: relative;
        z-index: 2;
        top: 20px;
        width: 150px;
        height: 250px;
        padding: 0 10px;
        border: 0;
        background: white;
        border-radius:10px;
    }

    #external-events .fc-event {
        cursor: move;
        margin: 3px 0;
        border-radius:30px;
        text-align: center;
        color: white;
    }

    #calendar-container {
        position: relative;
        z-index: 1;
        margin: 8px;
        width: 100%;
    }

    #calendar {
        max-width: 1100px;
    }
}

@media (max-width: 767px) {
    #external-events {
        display: none;
    }

    #calendar-container {
        position: relative;
        z-index: 1;
        margin: 8px;
        width: 100%;
    }

    #calendar {
        max-width: 1100px;
    }

}
